<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
		default-autowire="byName">

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <property name="typeAliases">
            <array>
                <value>com.velcro.base.page.PageWeb</value>
                <value>com.velcro.base.mybatis.testMybatisTable.domain.TestMybatisTable</value>
                <value>com.velcro.ztgame.bidding.domain.BackMarkInfo</value>
                <value>com.velcro.ztgame.bidding.domain.BiddingProviderRelation</value>
                <value>com.velcro.ztgame.bidding.domain.BidFormTemplate</value>
                <value>com.velcro.ztgame.bidding.domain.CooperationDetail</value>
                <value>com.velcro.ztgame.bidding.domain.ProviderInvoice</value>
                <value>com.velcro.ztgame.bidding.domain.ReplyInfo</value>
                <value>com.velcro.ztgame.bidding.domain.ReplyInfoTemplate</value>
                <value>com.velcro.ztgame.bidding.domain.BidForm</value>
                <value>com.velcro.ztgame.bidding.domain.WorkflowOptRecord</value>
                <value>com.velcro.ztgame.bidding.domain.WorkflowOptRecordName</value>
                <value>com.velcro.ztgame.bidding.domain.BidComfireSummary</value>
                
                <value>com.velcro.ztgame.mpbidding.model.MpAskAnswer</value>
                <value>com.velcro.ztgame.mpbidding.model.MpBackMarkF</value>
                <value>com.velcro.ztgame.mpbidding.model.MpBackMarkS</value>
                <value>com.velcro.ztgame.mpbidding.model.MpBidForm</value>
                <value>com.velcro.ztgame.mpbidding.model.MpBidProviderRelation</value>
                <value>com.velcro.ztgame.mpbidding.model.MpEvalDetail</value>
                <value>com.velcro.ztgame.mpbidding.model.MpEvalMember</value>
                <value>com.velcro.ztgame.mpbidding.model.MpFlowSendNotice</value>
                <value>com.velcro.ztgame.mpbidding.model.MpBmTemplateF</value>
                <value>com.velcro.ztgame.mpbidding.model.MpBmTemplateS</value>
                
                 <value>com.velcro.ztgame.materiabid.model.MateriaLabel</value>
                 <value>com.velcro.ztgame.materiabid.model.MaterialBackMark</value>
                 <value>com.velcro.ztgame.materiabid.model.MaterialBidForm</value>
                 <value>com.velcro.ztgame.materiabid.model.MaterialFinalInfo</value>
                 <value>com.velcro.ztgame.materiabid.model.MaterialFinalInfoDetail</value>
                 <value>com.velcro.ztgame.materiabid.model.MaterialPaymentDetail</value>
                 <value>com.velcro.ztgame.materiabid.model.MaterialProviderRelation</value>
                 <value>com.velcro.ztgame.materiabid.model.MaterialRoamInfo</value>
                 <value>com.velcro.ztgame.materiabid.model.MateriaOverallScoreDetail</value>
                 
                 <value>com.velcro.ztgame.mobile.workflow.model.Ufn8n2j11279351144266</value>
                 <value>com.velcro.ztgame.mobile.workflow.model.Ufw6z6s11279351125970</value>
                 
                 <value>com.velcro.ztgame.humanweekcount.domain.HumanWeekCount</value>
            </array>
        </property>
        <property name="mapperLocations" value="classpath*:mybatis/mapper/**/*.xml" />
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <bean id="mybatisBaseDao" class="com.velcro.base.mybatis.MybatisBaseDao" abstract="true">
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>

</beans>
